# python/IDE artifacts
.idea/
.ipynb_checkpoints/
.DS_Store
__pycache__/
coverage/
dist/

# notebook artifacts
notebooks/examples/exp_dir/
notebooks/examples/Synthetic Site/
notebooks/examples/Training_history.csv
tests/data/Synthetic Site/Synthetic Site Electricity Main Total Power_external_test.h5
tests/fixtures/alfa_exp_dir/events.out.tfevents.*
tests/fixtures/alfa_exp_dir/output.out
Training_history.csv
notebooks/exp_dir/

# mlflow artifacts
mlruns/
mlartifacts/